<div class="tag-line">
  a GOOD TIME SUPPLY <sup>co</sup>
</div>

<div id ="home" class="home page" >
  <div class="content">
    <h2>
      Welcome to Big Swig Tours.<br>
      We’re exploring the Last Frontier, <br>
      one craft brewery at a time. <br>
      Join us on our quest.
    </h2>
  </div>
</div>
<div id ="the_tour" class="tour page" >
  <div class="content" >
    <div class="section-title">
      THE TOUR
    </div>
    <h2>
      Imagine your frosty cold pint with a storyteller sidecar and you’re imagining an afternoon with Big Swig.

      <p>
        By that we mean our tours are as much about the history of Alaskan beers, the masters who brew them and the locals who drink them, as they are about tasting the beers themselves*.
      Each tour departs from the heart of downtown Anchorage. During your 3.5 hour adventure, your Big Swig Hoperator will escort you around town and off the beaten path as you explore Alaska’s finest breweries.
    </p>
    <div class="breweries-area cf">
      <div class="brewery">
        <img src=<%= asset_path 'brewery_icon_1.png' %> >
        <h2>
          Midnight Sun<br>
          Brewing Co.
        </h2>
        <p>
          This is a brewery that serves beer. It is so damn good. Seriously, I can’t believe how good it is.
        </p>
      </div>

      <div class="brewery">
        <img src=<%= asset_path 'brewery_icon_2.png' %> >
        <h2>
          King Street<br>
          Brewery
        </h2>
        <p>
          This is a brewery that also serves beer. It has a fun story behind it. And you’ll be very interested to hear all about it.
        </p>
      </div>


      <div class="brewery" id="brewery-3">
        <img src=<%= asset_path 'brewery_icon_3.png' %> >
        <h2>
          World Famous<br>
          Chilkoot Charlies
        </h2>
        <p>
          This one is a bar. But you’ll still love it. You can continue to drink and listen to good stories.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="travel-quote page" >
  <div class="tickets-button">
    <a href="www.eventbrite.com" target="_blank">Buy tickets!</a>
  </div>
  <img src=<%= asset_path 'road.jpg' %> >
</div>
<div id ="about_us" class="about page" >
  <div class="content">
    <div class="section-title">
      ABOUT US
    </div>
    <p>
      This copy is FPO. Big Swig was started by Lorem ipsum dolor sit Experience the rich history of Boston in an entirely new way. Spend the day with Boston Brew Tours as we sample our way through the city, along a journey filled with craft breweries, artisan beers and delicious food!
    </p>
  </div>
</div>
<div class="whitecaps-carousel page" >
  <div class="tickets-button">
    <a href="www.eventbrite.com" target="_blank">Buy tickets!</a>
  </div>
</div>
<div class="yellow-bar page" ></div>
<div id ="tickets" class="tickets-headline page" >
  <div class="content">
    <div class="section-title">
      TICKETS
    </div>
  </div>
</div>
<div class="tickets-copy page" >
  <div class="content">
    <p>
      This copy is FPO. The price includes this lorem ipsum dolor. rew Tours as we sample our way through the city, along a journey filled with craft breweries.
    </p>
    <div class="tickets-button">
      <a href="www.eventbrite.com" target="_blank">Buy tickets!</a>
    </div>
  </div>
</div>


