<div class="tag-line">
  a GOOD TIME SUPPLY <sup>co</sup>
</div>

<div id ="home" class="home">
  <div class="content">
    <p>
      Welcome to Big Swig Tours.<br>
      We’re exploring the Last Frontier, <br>
      one craft brewery at a time. <br>
      Join us on our quest.
    </p>
  </div>
</div>
<div id ="the_tour" class="tour"
          data-center="height: 1000px;"
          data-top="height: 200px;"
          data-anchor-target=".brewery"
          >
  <div class="content">
    <div class="section-title">
      THE TOUR
    </div>
    <p>
      This copy is FPO. Big Swig was started by Lorem ipsum dolor sit Experience the rich history of Boston in an entirely new way. Spend the day with Boston Brew Tours as we sample our way through the city,
    </p>
    <div class="breweries-area cf">

      <div class="brewery">
        <img src=<%= asset_path 'brewery_icon_1.png' %> >
        <h2>
          Midnight Sun<br>
          Brewing Co.
        </h2>
        <p>
          This is a brewery that serves beer. It is so damn good. Seriously, I can’t believe how good it is.
        </p>
      </div>

      <div class="brewery">
        <img src=<%= asset_path 'brewery_icon_2.png' %> >
        <h2>
          King Street<br>
          Brewery
        </h2>
        <p>
          This is a brewery that also serves beer. It has a fun story behind it. And you’ll be very interested to hear all about it.
        </p>
      </div>


      <div class="brewery">
        <img src=<%= asset_path 'brewery_icon_3.png' %> >
        <h2>
          World Famous<br>
          Chilkoot Charlies
        </h2>
        <p>
          This one is a bar. But you’ll still love it. You can continue to drink and listen to good stories.
        </p>
      </div>

    </div>
  </div>
</div>
<div class="travel-quote">
  <div class="tickets-button">
    <a href="www.eventbrite.com" target="_blank">Buy tickets!</a>
  </div>
  <img src=<%= asset_path 'road.jpg' %> >
</div>
<div id ="about_us" class="about page">
  <div class="content">
    <div class="section-title">
      ABOUT US
    </div>
    <p>
      This copy is FPO. Big Swig was started by Lorem ipsum dolor sit Experience the rich history of Boston in an entirely new way. Spend the day with Boston Brew Tours as we sample our way through the city, along a journey filled with craft breweries, artisan beers and delicious food!
    </p>
  </div>
</div>
<div class="whitecaps-carousel">
  <div class="tickets-button">
    <a href="www.eventbrite.com" target="_blank">Buy tickets!</a>
  </div>
</div>
<div class="yellow-bar"></div>
<div id ="tickets" class="tickets-headline">
  <div class="content">
    <div class="section-title">
      TICKETS
    </div>
  </div>
</div>
<div class="tickets-copy">
  <div class="content">
    <p>
      This copy is FPO. The price includes this lorem ipsum dolor. rew Tours as we sample our way through the city, along a journey filled with craft breweries.
    </p>
    <div class="tickets-button">
      <a href="www.eventbrite.com" target="_blank">Buy tickets!</a>
    </div>
  </div>
</div>


