<div class="nav-back"></div>

<div id ="home" class="home page">
  <div class="content">

  </div>
</div>
<div id ="the_tour" class="trailer page">
  <div class="content">
    <h1>THE TRAILER</h1>

  </div>
</div>
<div id ="about_us" class="about page">
  <div class="content">
    <h1>ABOUT THE FILM</h1>
      <p>
        In the wake of his father’s death, Neil Mercer—a wounded man who’s spent years armoring himself with an all-too-effective combination of success, workaholism and charm—must travel back home to the Midwest for the first time in years to help sell his estranged father’s summer cottage. When his younger brother, James, is unexpectedly called back to Chicago for work, Neil finds himself marooned in the house with Rebecca Brandt, James’s fiancée, a wickedly smart, fiercely independent woman whose impressive façade matches Neil’s in its power to mask the damaged, desperate spirit hiding beneath.

        Set against the bleak backdrop of wintry rural Michigan, THE MIDDLE DISTANCE takes an honest, unsentimental look at adulthood, the meaning of family, the singular ache of nostalgia, and the inevitable peril and promise of two lost souls finding each other in the darkness.
      </p>
  </div>
</div>
<div id ="tickets" class="screenings page">
  <div class="content">
    <h1>ABOUT THE FILM</h1>
      <p>
        In the wake of his father’s death, Neil Mercer—a wounded man who’s spent years armoring himself with an all-too-effective combination of success, workaholism and charm—must travel back home to the Midwest for the first time in years to help sell his estranged father’s summer cottage. When his younger brother, James, is unexpectedly called back to Chicago for work, Neil finds himself marooned in the house with Rebecca Brandt, James’s fiancée, a wickedly smart, fiercely independent woman whose impressive façade matches Neil’s in its power to mask the damaged, desperate spirit hiding beneath.

        Set against the bleak backdrop of wintry rural Michigan, THE MIDDLE DISTANCE takes an honest, unsentimental look at adulthood, the meaning of family, the singular ache of nostalgia, and the inevitable peril and promise of two lost souls finding each other in the darkness.
      </p>
  </div>
</div>


