@import "variables.css.scss" , "mixins.css.scss";

.nav-top {
  background:$lightGrey;
  height:35px;
}

.nav-bar {
  font-family:'Montserrat', sans-serif;
  letter-spacing:1px;
  font-size:16px;
  font-weight:700;
  width:100%;
  height:90px;
  padding-bottom:28px;
  text-transform: uppercase;
  z-index:100;
  background:$lightGrey;
}

.nav-bottom {
  background:$lightGrey;
  height:72px;
}

.nav-width {
  width:90%;
  text-align:center;
  position:relative;
  top:40px;
  left:0;
  right:0;
  margin-right: auto !important;
  margin-left: auto;
}

a {
  text-decoration:none;
  color:Black;
  @include transition;
}

a:hover {
  border-top:$yellow;
}

.nav-right, .nav-left, .nav-logo {
  width:30%;
  height:70px;
  margin:0;
  display:inline-block;
  vertical-align: top;
}

.nav-logo {
  text-align:center;
  height:100%;
  @include transition;

  img {
    max-width:200px;
    margin-top:-55px;
    width:100%;
    vertical-align:middle;
    @include transition;
  }
}

.nav_item {
  display:inline-block;
  width:49%;
  height:10px;
  text-align:center;
}

/* =================================== */
/* Dynamic Components */

.stuck{
  position: fixed;
  top: 0px;
}

.active {
  background: $yellow;
  @include transition;
}

.small-nav {
  .nav-logo {
    img {
      width:100px;
      margin-top:-20px;
    }
  }
}





